---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/ui/Navbar.astro";
import ChatBox from "../components/chat/ChatBox.jsx";
const { nombre = "César" } = Astro.props;
---

<Layout nombre="César">
  <Navbar nombre={nombre} />
  <section class="flex justify-center">
    <div class="w-full max-w-3xl">
      <ChatBox client:load />
    </div>
  </section>
</Layout>
