<footer class="fixed bottom-0 left-0 w-full bg-white/70 backdrop-blur-md py-2 shadow-inner">
  <nav class="flex justify-around text-center text-sm text-gray-600">
    <a href="/" class="flex flex-col items-center hover:text-blue-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M13 5v6h6m-6 0l-2 2m2-2h6v6a2 2 0 01-2 2h-4a2 2 0 01-2-2v-6z" />
      </svg>
      <span>Inicio</span>
    </a>

    <a href="/dashboard" class="flex flex-col items-center hover:text-blue-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 17v-2a4 4 0 014-4h14M7 17v2m0 0a4 4 0 004 4h6a4 4 0 004-4v-2" />
      </svg>
      <span>Progreso</span>
    </a>

    <a href="/chat" class="flex flex-col items-center hover:text-blue-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16h6m2 5l-3-3H7a2 2 0 01-2-2V7a2 2 0 012-2h10a2 2 0 012 2v12a2 2 0 01-2 2z" />
      </svg>
      <span>Chat</span>
    </a>

    <a href="/consejos" class="flex flex-col items-center hover:text-blue-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M12 2a10 10 0 100 20 10 10 0 000-20z" />
      </svg>
      <span>Consejos</span>
    </a>
  </nav>
</footer>
